# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore build files
dist/
build/

# Ignore IDE/Editor settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
